/**
 *	Author: Liching Yew;
 *  Description: This is the css to use within FEND-neighborhood-map Project, for smaller screens;
 */

@font-face {
  font-family: Open Sans;
  src: url("fonts/OpenSans-Regular.ttf", "OpenSans-Bold.ttf");
}

html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Open Sans;
}

#search-bar{
	z-index: 1;
	top: 0px;
	position: absolute;
    box-sizing: border-box;
	display: inline-block;
}

input{
	background-color: #F5F5DC;
	width: 100%;
	font-size: 12px;
	padding: 5px;
	padding-left: 12px;
	border-radius: 5px;
	border: 2px solid #006666;
	margin: 5px;
	box-shadow: 2px 2px 4px #555;
}

input:focus{
	outline: none;
}
/**
Food: #A1E789;  /* green
Accomodation: #678FEB;*/ /* blue
Activity: #F29324; /* orange */

.marker-list{
	position: absolute;
	background-color: #fff;
	z-index: 1;
	top: 47px;
	left: 0px;
	cursor: pointer;
	border-radius: 5px;
	margin: 5px;
	border: 2px solid #006666;
	box-shadow: 2px 2px 4px #555;
	background-color: #F5F5DC;
	font-size: 12px;
}

.marker-list ul{
	padding: 0px;
	margin: 0px;

}

.marker-list li{
	list-style-type: none;
	padding: 2px 6px;
}

.marker-list li.highlighted:hover{
	background-color: #FFCC99;
}

.highlighted{
	background-color: #FFCC99;
}

.marker-list li:first-child{
	padding-top: 4px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.marker-list li:last-child{
	padding-bottom: 4px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.marker-list li:hover{
	background-color: #eee;
}

#box{
	width: 96%;
  	bottom: 5px;
  	position: absolute;
  	z-index: 1;
  	left: 5px;
  	background-color: #fff;
  	border-radius: 3px;
  	border: 2px solid #006666;
  	box-shadow: 2px 2px 4px #555;
  	background-color: #F5F5DC;
}

.title{
	display: block;
	padding: 4px 6px;
	text-align: center;
}

.rating{
	display: block;
  	margin: auto;
  	padding-bottom: 6px;
}

.line{
	border-bottom: 1px solid #ddd;
	width: 100%;
	height: 1px;
	margin-bottom: 6px;
}

#biz-pic{
	display: inline-block;
	padding: 6px;
	margin-bottom: -5px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

#biz-info{
  	width: 200px;
  	display: inline-block;
  	font-size: 10px;
  	position: absolute;
  	text-align: center;
  	float: right;
  	padding: 2px;
}

#biz-info span{
	padding: 2px;
	display: block;
}
