/**
 *	Author: Liching Yew;
 *  Description: This is the css to use within FEND-neighborhood-map Project, for smaller screens;
 */

@font-face {
  font-family: Open Sans;
  src: url('fonts/OpenSans-Regular.ttf', 'OpenSans-Bold.ttf');
}

html,
body,
.mapCanvas {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Open Sans;
}

.searchBar {
	z-index: 1;
	top: 0px;
	position: absolute;
    box-sizing: border-box;
	display: inline-block;
}

input{
	background-color: #FFF;
	width: 100%;
	font-size: 12px;
	padding: 5px;
	padding-left: 12px;
	border-radius: 5px;
	border: 2px solid #066;
	margin: 5px;
	box-shadow: 2px 2px 4px #555;
}

input:focus{
	outline: none;
}
/**
Food: #A1E789;  /* green
Accomodation: #678FEB;*/ /* blue
Activity: #F29324; /* orange */

.marker-list{
	position: absolute;
	background-color: #fff;
	z-index: 1;
	top: 47px;
	left: 0px;
	cursor: pointer;
	border-radius: 5px;
	margin: 5px;
	border: 2px solid #066;
	box-shadow: 2px 2px 4px #555;
	background-color: #FFF;
	font-size: 12px;
}

.list-ul{
	padding: 0px;
	margin: 0px;

}

.list-option {
	list-style-type: none;
	padding: 2px 6px;
}

.list-option.highlighted:hover{
	background-color: #fc9;
}

.highlighted {
	background-color: #fc9;
}

.list-option:first-child{
	padding-top: 4px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.list-option:last-child{
	padding-bottom: 4px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.list-option:hover{
	background-color: #eee;
}

.box{
	width: 200px;
  	margin: 5px;
}

.title{
	display: block;
	padding: 4px 6px;
	text-align: center;
}

.rating{
	display: block;
  	margin: auto;
  	padding-bottom: 6px;
}

.line{
	border-bottom: 1px solid #ddd;
	width: 100%;
	height: 1px;
	margin-bottom: 6px;
}

.biz-pic{
	display: inline-block;
	padding: 6px;
	margin-bottom: -5px;
	border-radius: 12px;
	width: 50px;
	height: 50px;
}

.biz-info{
  	width: 137px;
  	display: inline-block;
  	font-size: 10px;
  	position: absolute;
  	text-align: center;
  	float: right;
  	padding: 2px;
}

.biz-info span{
	padding: 2px;
	display: block;
}

.legend-container{
	z-index: 1;
    top: 0px;
    left: 198px;
    margin: 10px;
    position: absolute;
    font-size: 12px;
}

.legend-img{
	height: 10px;
    margin: 0px 2px;
    border: 1px solid black;
    border-radius: 3px;
}

.legend{
	margin-right: 0px;
}
