/**
 *	Author: Liching Yew;
 *  Description: This is the css to use within FEND-neighborhood-map Project;
 */

@font-face {
  font-family: Open Sans;
  src: url("fonts/OpenSans-Regular.ttf", "OpenSans-Bold.ttf");
}

html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Open Sans;
}

#filter{
	z-index: 1;
	top: 0px;
	position: fixed;
    width:100%;
    background: white;
    box-sizing: border-box;
  	padding: 10px 0px 0px 10px;
}

#search-bar{
	display: inline-block;
	width: 40%;
}

#food, #accom, #activity{
	float: right;
	display: inline-block;
	width: 10%;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 3px solid transparent;
}

#food:hover{
	border-bottom: 3px solid #A1E789;  /* green */
}

#accom:hover{
	border-bottom: 3px solid #678FEB; /* blue */
}

#activity:hover{
	border-bottom: 3px solid #F29324; /* orange */
}