/**
 *	Author: Liching Yew
 *  Description: This is the css to use within FEND-neighborhood-map Project
 *  Date: 23rd August 2015
 */

@font-face {
	font-family: Open Sans;
	src: url("fonts/OpenSans-Regular.ttf", "OpenSans-Bold.ttf");
}

html,
body,
.mapCanvas {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Open Sans;
}

.searchBar{
	z-index: 1;
	top: 0px;
	position: absolute;
	box-sizing: border-box;
	display: inline-block;
}

input{
	background-color: #fff;
	width: 280px;
	font-size: 16px;
	padding: 5px;
	padding-left: 12px;
	border-radius: 5px;
	border: 2px solid #066;
	margin: 5px;
	border: 1px solid #066;
	box-shadow: 1px 1px 2px #555;
}
}

input:focus{
	outline: none;
}

/**
Food: #A1E789;  /* green
Accomodation: #678FEB;*/ /* blue
Activity: #F29324; /* orange */

.marker-list{
	position: absolute;
	background-color: #fff;
	z-index: 1;
	top: 47px;
	left: 0px;
	cursor: pointer;
	border-radius: 5px;
	margin: 5px;
	border: 1px solid #066;
	box-shadow: 1px 1px 2px #555;
}

.list-ul{
	padding: 0px;
	margin: 0px;

}

.list-option{
	list-style-type: none;
	padding: 2px 6px;
}

.list-option.highlighted:hover{
	background-color: #fc9;
}

.highlighted{
	background-color: #fc9;
}

.list-option:first-child{
	padding-top: 4px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.list-option:last-child{
	padding-bottom: 4px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.list-option:hover{
	background-color: #eee;
}

.box{
	width: 350px;
	margin: 5px;
}

.title{
	display: block;
	padding: 4px 6px;
	text-align: center;
}

.rating{
	display: block;
	margin: auto;
	padding-bottom: 6px;
}

.line{
	border-bottom: 1px solid #ddd;
	width: 100%;
	height: 1px;
	margin-bottom: 6px;
}

.biz-pic{
	display: inline-block;
	padding: 6px;
	margin-bottom: -5px;
	border-radius: 12px;
}

.biz-info{
  width: 238px;
  display: inline-block;
  font-size: 13px;
  position: absolute;
  text-align: center;
  margin: auto;
}

.biz-info span{
	padding: 2px;
	display: block;
}

.other-biz{
	display: block;
}

.legend-container{
	z-index: 1;
	top: 0px;
	right: 0px;
	margin: 5px;
	position: absolute;
	font-size: 14px;
	padding: 5px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #066;
	box-shadow: 1px 1px 2px #555;
}

.legend-img{
	height: 18px;
	border: 1px solid black;
	border-radius: 3px;
}

.legend{
	margin: 0px 6px;
}