/**
 *	Author: Liching Yew;
 *  Description: This is the css to use within FEND-neighborhood-map Project;
 */

@font-face {
  font-family: Open Sans;
  src: url("fonts/OpenSans-Regular.ttf", "OpenSans-Bold.ttf");
}

html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Open Sans;
}

#filter{
	z-index: 1;
	top: 0px;
	position: fixed;
    width:100%;
    background: white;
    box-sizing: border-box;
  	padding: 10px 0px 0px 10px;
}

#search-bar{
	display: inline-block;
	width: 40%;
}

#food, #accom, #activity{
	float: right;
	display: inline-block;
	width: 10%;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 5px solid transparent;
	cursor: pointer;
}

#food:hover{
	border-bottom: 5px solid #A1E789;  /* green */
}

#accom:hover{
	border-bottom: 5px solid #678FEB; /* blue */
}

#activity:hover{
	border-bottom: 5px solid #F29324; /* orange */
}

.marker-list{
	position: absolute;
	background-color: #fff;
	z-index: 1;
	top: 47px;
	right: 0px;
}

.marker-list ul{
	padding: 0px;
	margin: 0px;
}

.marker-list li{
	list-style-type: none;
}

.marker-list li:hover{
	background-color: #eee;
}

#box{
	width: 300px;
	top: 47px;
	position: absolute;
	z-index: 1;
	right: 0px;
	background-color: #fff;
}

span{
	display: inline-block;
}

.title{
	padding: 4px 6px;
}

.line{
	border-bottom: 1px solid #ddd;
	width: 100%;
	height: 1px;
}

#biz-pic{
	display: inline-block;
	padding-right:  6px;
}

#biz-info{
  	width: 194px;
  	display: inline-block;
  	font-size: 13px;
  	position: absolute;
}

#biz-info span{
	padding: 2px;
}
